/* latin-ext */
@font-face {
	font-family: "Inria Sans";
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url(./inriasans/v14/ptRRTiqXYfZMCOiVj9kQ1OzAgQl_pM4zT305QaYc.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inria Sans";
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url(./inriasans/v14/ptRRTiqXYfZMCOiVj9kQ1OzAgQl_qs4zT305QQ.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Inria Sans";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(./inriasans/v14/ptROTiqXYfZMCOiVj9kQ1OzIJCtqh-w-ZUcw.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inria Sans";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(./inriasans/v14/ptROTiqXYfZMCOiVj9kQ1OzIKitqh-w-ZQ.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Inria Sans";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(./inriasans/v14/ptRRTiqXYfZMCOiVj9kQ1OzAkQ5_pM4zT305QaYc.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inria Sans";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(./inriasans/v14/ptRRTiqXYfZMCOiVj9kQ1OzAkQ5_qs4zT305QQ.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Inria Sans";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(./inriasans/v14/ptRPTiqXYfZMCOiVj9kQ3ELaPQJPqMQ0bX8JQA.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inria Sans";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(./inriasans/v14/ptRPTiqXYfZMCOiVj9kQ3ELaPQxPqMQ0bX8.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Inria Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./inriasans/v14/ptRMTiqXYfZMCOiVj9kQ1Of4KCFtpe4OZA.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inria Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./inriasans/v14/ptRMTiqXYfZMCOiVj9kQ1On4KCFtpe4.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Inria Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./inriasans/v14/ptRPTiqXYfZMCOiVj9kQ3FLdPQJPqMQ0bX8JQA.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inria Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./inriasans/v14/ptRPTiqXYfZMCOiVj9kQ3FLdPQxPqMQ0bX8.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "JetBrains Mono";
	font-style: italic;
	font-weight: 100 800;
	font-display: swap;
	src: url(./jetbrainsmono/v20/tDbX2o-flEEny0FZhsfKu5WU4xD-Cw2nSGjW7BDEAQ.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "JetBrains Mono";
	font-style: italic;
	font-weight: 100 800;
	font-display: swap;
	src: url(./jetbrainsmono/v20/tDbX2o-flEEny0FZhsfKu5WU4xD-CwOnSGjW7BA.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 100 800;
	font-display: swap;
	src: url(./jetbrainsmono/v20/tDbV2o-flEEny0FZhsfKu5WU4xD1OwGtT0rU3BE.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 100 800;
	font-display: swap;
	src: url(./jetbrainsmono/v20/tDbV2o-flEEny0FZhsfKu5WU4xD7OwGtT0rU.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Inria Serif";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(./inriaserif/v18/fC1nPYxPY3rXxEndZJAzN3SuRyHlq3KnYmR0yg.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inria Serif";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(./inriaserif/v18/fC1nPYxPY3rXxEndZJAzN3SuRy_lq3KnYmQ.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Inria Serif";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(./inriaserif/v18/fC14PYxPY3rXxEndZJAzN3wAVTjMjl2PaGxM8_E.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inria Serif";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(./inriaserif/v18/fC14PYxPY3rXxEndZJAzN3wAVTjCjl2PaGxM.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Inria Serif";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./inriaserif/v18/fC1lPYxPY3rXxEndZJAzN3Sldy3vrFClUmU.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inria Serif";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./inriaserif/v18/fC1lPYxPY3rXxEndZJAzN3Srdy3vrFCl.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Inria Serif";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./inriaserif/v18/fC14PYxPY3rXxEndZJAzN3wQUjjMjl2PaGxM8_E.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inria Serif";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./inriaserif/v18/fC14PYxPY3rXxEndZJAzN3wQUjjCjl2PaGxM.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
